<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="60px" height="60px">
  <title>Power BI</title>
  <!-- Barre 1 (petite, jaune clair) -->
  <rect x="3" y="8" width="4" height="8" fill="#F2C811" />

  <!-- Barre 2 (moyenne, jaune moyen), chevauchement avec la première -->
  <rect x="6.5" y="5" width="4" height="11" fill="#D1A30D" />

  <!-- Barre 3 (grande, jaune foncé), chevauchement avec la deuxième -->
  <rect x="10" y="2" width="4" height="14" fill="#A37C06" />
</svg>
